<div class="specific-content" ng-controller="findContentController">
    <h2 ng-bind="language"></h2>

    <input class="orderRule" id="tab1" type="radio" name="tabs" value="comprehensive"
           ng-click=query() ng-model="queryCriteria.orderBy">
    <label for="tab1">综合排序</label>

    <input class="orderRule" id="tab2" type="radio" name="tabs" value="popularity"
           ng-click=query() ng-model="queryCriteria.orderBy">
    <label for="tab2">人气榜</label>

    <input class="orderRule" id="tab3" type="radio" name="tabs" value="new"
           ng-click=query() ng-model="queryCriteria.orderBy">
    <label for="tab3">最新上传</label>

    <input class="orderRule" id="tab4" type="radio" name="tabs" value="freeOfCharge"
           ng-click=query() ng-model="queryCriteria.orderBy">
    <label for="tab4">免费专区</label>

    <input type="checkbox" ng-true-value="true" ng-false-value="false"
           ng-click=query() ng-model="queryCriteria.isLookAt" />允许试看
    <section id="content1"></section>
    <div class="content-div">
        <table class="content-table" width="100%">
            <tr ng-repeat="re in res" ng-if="($index+1)%5 == 1">
                <td ng-repeat="re in res.slice($index, $index+5)">
                    <div class="curriculum-wrap">
                        <div class="image-div">
                            <img ng-src="{{ re.cover_url }}">
                            <span>完结：（103节）</span>
                        </div>
                        <div class="title-div">
                            <span class="curriculum-title">{{ re.title }}</span>
                        </div>

                        <div class="curriculum-info-div">
                            <span class="watch-time">浏览: {{ re.watch_person_time }}(人/次)</span>
                            <span class="lecturer-name">作者：赵文祥</span>
                            <br>
                            <span class="price" id="price">
                                <span><i class="fa fa-star fa gray"></i></span>
                                <span>{{ re.star }}</span>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="pagination">
        <form>
            <button ng-repeat="page_num in page_num_array">
                {{ page_num }}
            </button>
        </form>
    </div>
</div>