<div class="specific-content" ng-controller="findContentController">
    <h2 ng-bind="language"></h2>

    <input class="orderRule" id="tab1" type="radio" name="tabs" value="comprehensive"
           ng-click=query() ng-model="queryCriteria.orderBy">
    <label for="tab1">综合排序</label>

    <input class="orderRule" id="tab2" type="radio" name="tabs" value="popularity"
           ng-click=query() ng-model="queryCriteria.orderBy">
    <label for="tab2">人气榜</label>

    <input class="orderRule" id="tab3" type="radio" name="tabs" value="new"
           ng-click=query() ng-model="queryCriteria.orderBy">
    <label for="tab3">最新上传</label>

    <input class="orderRule" id="tab4" type="radio" name="tabs" value="freeOfCharge"
           ng-click=query() ng-model="queryCriteria.orderBy">
    <label for="tab4">免费专区</label>

    <input type="checkbox" ng-true-value="true" ng-false-value="false"
           ng-click=query() ng-model="queryCriteria.isLookAt" />允许试看
    <section id="content1">
    </section>
    <table class="content-table">
        <tr ng-repeat="re in res" ng-if="($index+1)%5 == 1">
            <td ng-repeat="re in res.slice($index, $index+5)">
                <img ng-src="{{ re.cover_url }}">
                <!--{{ re.title }}-->
            </td>
        </tr>
    </table>

</div>