<div class="specific-content" ng-controller="findContentController">
    <h2 ng-bind="language"></h2>
    <div class="hot-recommendation"></div>

    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Codepen</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Dribbble</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3">Dropbox</label>

    <input id="tab4" type="radio" name="tabs">
    <label for="tab4">Drupal</label>
    <section id="content1">
    <p>
      Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
    </p>
    <p>
      Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin pastrami spare ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin meatloaf swine ground round venison.
    </p>
  </section>
</div>