<div ng-controller="findBackEndController">
    <div id="find-left-menu" class="find-left-menu red">
		<div class="find-left-menu-header" id="form">
            <input type="text" class="filterinput">
        </div>
		<ul>
		    <li><a href="#"><i class="fa fa-home"></i>Home </a></li>
			<li><a href="#">Events </a></li>
			<li><a href="#"><i class="fa fa-file-image-o"></i>Gallery </a></li>
			<li><a href="#"><i class="fa fa-cog"></i>Services </a>
				<ul class="submenu">
					<li><a href="#">Web Design </a></li>
					<li><a href="#">Hosting </a></li>
					<li><a href="#">Design </a></li>
					<li><a href="#">Consulting </a></li>
				</ul>
			</li>
			<li><a href="#"><i class="fa fa-home"></i>系统管理 </a></li>
			<li><a href="#"><i class="fa fa-suitcase"></i>Portfolio </a>
				<ul class="submenu">
					<li><a href="#">Web Design </a></li>
					<li><a href="#">Graphics </a><span class="find-left-menu-label">10 </span>
					</li>
					<li><a href="#">Photoshop </a></li>
					<li><a href="#">Programming </a></li>
				</ul>
			</li>
			<li><a href="#"><i class="fa fa-user"></i>About </a></li>
			<li><a href="#"><i class="fa fa-envelope"></i>Contact </a></li>

		</ul>
		<div class="find-left-menu-footer">
			Footer
		</div>
	</div>
    <div class="back-end-content" ng-view></div>
</div>