<div class="find-wrapper" ng-controller="findBackEndController">
    <div class="find-menu red">
		<div class="find-menu-header" id="form"></div>
		<ul class="menu-ul">
            <li ng-repeat="menu in backEndMenuList">
                <a ui-sref="/./.language/{{ java }}">
                    {{ menu.title }}
                    <span ng-if="menu.with_sub"> > </span>
                </a>
                <ul class="submenu">
                    <li ng-repeat="submenu in menu.sub">{{ submenu.title }}</li>
                </ul>
            </li>
		</ul>
		<div class="find-menu-footer">
			Footer
		</div>
	</div>
    <div class="specific-content" ui-view></div>
</div>