body {
    background-color: #3C352B;
    color: #ddd;
}

#header > div{
    margin-top: 10px;
    height: 60px;
}

#headerMenu {
    font:14px verdana, arial, sans-serif;
}

#headerMenu li {
    list-style:none;
    padding:0;
    margin-left: 20px;
    float: left;
}

#headerMenu li a {
    display:block; /* 将链接设为块级元素 */
    padding:0px 8px; /* 设置内边距 */
    color:#ddd; /* 设置文字颜色 */
    text-decoration:none; /* 去掉下划线 */
    border-right:1px solid #000; /* 在左侧加上分隔线 */
}

.search > div{
    float: left;
}

.searchInput {
    width: 432px;
    background-color: #342e26;
    border: none;
    color: #fff;
    z-index: 1;
    padding: 12px;
    font-size: 16px;
    -webkit-border-radius: 6px 0px 0px 6px;
    -moz-border-radius: 6px 0px 0px 6px;
    border-radius: 6px 0px 0px 6px;
    -webkit-box-shadow: inset 1px 1px 1px 0px #000;
    -moz-box-shadow: inset 1px 1px 1px 0px #000;
    box-shadow: inset 1px 1px 1px 0px #000;
    margin-top:0px;
}

.searchButton {
    background-color: #66c706;
    width: 47px;
    height: 48px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #539a0d;
}

.searchButton:active {
    background-color: #539a0d;
    -webkit-box-shadow: inset 1px 1px 1px 0px #000;
    -moz-box-shadow: inset 1px 1px 1px 0px #000;
}

.searchImage {
    margin: 10px;
}