@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

.find-menu {
	width:10%
}

.specific-content {
	width: 70%;
	margin: 0 20px ;
	float: left;
}

.menu-ul a{
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:100%;
}

.find-menu,.find-menu * {
	font-family: 'Open Sans',sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline: 0
}

.find-menu {
	float: left;
	position: relative;
	box-shadow: 0 20px 50px #333
}

.find-menu ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.find-menu ul li {
	width: 100%;
	display: block;
	float: left;
	position: relative
}

.find-menu ul li a {
	width: 100%;
	padding: 14px 22px;
	float: left;
	text-decoration: none;
	color: #bbb;
	font-size: 13px;
	background: #444;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	-o-transition: color .2s linear,background .2s linear;
	-moz-transition: color .2s linear,background .2s linear;
	-webkit-transition: color .2s linear,background .2s linear;
	transition: color .2s linear,background .2s linear
}

.find-menu>ul>li.active>a,.find-menu>ul>li:hover>a {
	color: #fff;
	background: #3b424d
}

.find-menu>ul>li>a {
	border-bottom: solid 1px #3b424d
}

.find-menu ul li a i {
	width: 34px;
	float: left;
	line-height: 18px;
	font-size: 16px;
	text-align: left
}

.find-menu .submenu-indicator {
	float: right;
	right: 22px;
	position: absolute;
	line-height: 19px;
	font-size: 20px;
	-o-transition: transform .3s linear;
	-moz-transition: transform .3s linear;
	-webkit-transition: transform .3s linear;
	-ms-transition: transform .3s linear
}

.find-menu ul ul.submenu .submenu-indicator {
	line-height: 16px
}

.find-menu .submenu-indicator-minus>.submenu-indicator {
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.find-menu ul ul.submenu,.find-menu ul ul.submenu li ul.submenu {
	width: 100%;
	display: block;
	position: static
}

.find-menu ul ul.submenu li {
	clear: both;
	width: 100%
}

.find-menu ul ul.submenu li a {
	width: 100%;
	float: left;
	font-size: 11px;
	background: #383838;
	border-top: none;
	position: relative;
	border-left: solid 6px transparent;
	-o-transition: border .2s linear;
	-moz-transition: border .2s linear;
	-webkit-transition: border .2s linear;
	transition: border .2s linear
}

.find-menu ul ul.submenu li:hover>a {
	border-left-color: #414956
}

.find-menu ul ul.submenu>li>a {
	padding-left: 30px
}

.find-menu ul ul.submenu>li>ul.submenu>li>a {
	padding-left: 45px
}

.find-menu ul li a {
	background: #333
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.orderRule {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 15px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\f1cb';
}

label[for*='2']:before {
  content: '\f17d';
}

label[for*='3']:before {
  content: '\f16b';
}

label[for*='4']:before {
  content: '\f1a9';
}

label:hover {
  color: #888;
  cursor: pointer;
}

.orderRule:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

section {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
